<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>
<div class="row justify-content-md-center">
  <div class="col col-md-4">
    <% @posts.each do |post| %>
      <div class="card">
        <%= link_to post do %>
          <img class="card-img-top" src="<%= post.photo.image.url %>" alt="Card image cap">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.description %></p>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>
