<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>
<div class="row justify-content-md-center">
  <div class="col col-md-8">
    <div class="card">
      <img class="card-img-top" src="<%= @post.photo.image.url %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= @post.title %></h5>
        <p class="card-text"><%= @post.description %></p>
        <p class="card-text">
          <%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Back', posts_path %>
        </p>
      </div>
    </div>
  </div>
</div>
